<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <div class="center">
        Использование Сервиса «ALU.KZ» возможно только на условиях настоящего Пользовательского соглашения. 
        Пожалуйста, внимательно ознакомьтесь с Пользовательским соглашением, включая все нижеследующие условия, прежде чем принять их. Вы не можете использовать Мобильное Приложение ALU.KZ в случае, если Вы не принимаете какое-либо из условий настоящего Пользовательского соглашения.
        Если Вы не принимаете в полном объеме условия пользовательского соглашения, использование Сервиса «ALU.KZ» не допускается.         
        <strong><h3>Пользовательское соглашение об использовании сервиса «ALU.KZ»</h3></strong> 
        Компания ALU.KZ, именуемое далее «Администрация сервиса», заключает настоящее Соглашение об использовании сервиса «ALU.KZ» с любым лицом, именуемым в дальнейшем «Пользователь».
        <br><br>
        <strong>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</strong> 
        <br><br>
        </div>

1.1. <strong>Сервис «ALU.KZ»</strong> (далее – Сервис) – интегрированный программно-аппаратный технологический комплекс, принадлежащий Администрации сервиса, содержащий доступную неопределенному кругу лиц информацию о возможности аренды движимого имущества, а также о возможности размещения информации о сдаче в аренду движимого имущества. У сервис а отсутствуют элементы социализации, которые позволяют Пользователям обмениваться между собой сообщениями и иной информацией.
<br>
1.2. <strong>Мобильное приложение ALU.KZ</strong> — интегрированная совокупность текстов, графических элементов, изображений, фото и видео материалов, логотипов, а также программ для ЭВМ и иной информации, размещенных в Google Play  и App Store
<br>
1.3. <strong>Пользователь</strong> – гражданин Республики Казахстан, достигший 16 лет,  либо любое юридическое лицо или индивидуальный предприниматель, которые путем совершения предусмотренных законодательством РК действий приняли настоящее пользовательское соглашение.
<br>
1.4. <strong>Имущество</strong> – в рамках настоящего Соглашения под имуществом признаются вещи, принадлежащие на праве собственности или ином вещном праве Пользователю, которые он намерен сдать в аренду.
<br>
1.5. <strong>Аренда</strong> – сделка, при которой Владелец (Арендодатель) обязуется предоставить арендатору Имущество, принадлежащее ему на праве собственности, за плату во временное владение и пользование или во временное пользование. Все сделки заключаются через ALU.KZ . Таким образом, Мобильное приложение ALU.KZ является участником сделок Пользователей, предоставляя торговую платформу для размещения объявлений и аренды товаров, включая курьерскую службу .
<br>
1.6. <strong>Арендатор</strong> – Пользователь, который использует Сервис для поиска Имущества в целях использования на правах аренды, и/или заключивший договор аренды с Владельцем при использовании Сервиса.
<br>
1.7. <strong>Владелец (Арендодатель)</strong> – Пользователь, который использует Сервис для размещения информации о сдаче в аренду Имущества, принадлежащего ему на праве собственности или ином вещном праве. 
<br>
1.8. <strong>Профиль</strong> - раздел в Мобильном приложении, предоставляемый Администрацией сервиса при регистрации Пользователю, вход на которую осуществляется путем ввода «логина» и «пароля», определенного Пользователем.
<br>
1.9. <strong>Регистрация</strong> – процедура, в ходе которой Пользователь предоставляет достоверные данные о себе по утвержденной Администратором сервиса форме, а также логин и пароль для входа в Личный кабинет для получения доступа к полному функционалу мобильного приложения. В процессе регистрации пользователь предоставляет свои персональные данные, а также совершает действия по подтверждению предоставленных адреса электронной почты и номера мобильного телефона (активация уникальной ссылки - для электронной почты, ввод проверочного СМС-кода - для мобильного телефона). Только после успешного завершения процесса регистрации, пользователю предоставляется возможность использовать инструменты сайта по заключению сделок аренды Имущества.


<h3 class="center">2. ПРЕДМЕТ СОГЛАШЕНИЯ</h3>

2.1. Предметом настоящего Соглашения является предоставление Администрацией сервиса зарегистрированным Пользователям возможности размещения информации об Имуществе, сдаваемом в аренду, а также возможности выбора Имущества для использования на правах аренды на условиях, определяемых настоящим Соглашением.  Напоминаем, что Все сделки заключаются через Администрацию сервиса . Таким образом, Сервис ALU.KZ является участником сделок Пользователей, предоставляя торговую платформу для размещения объявлений и аренды товаров, включая курьерскую службу .

<br>2.2. Заключение Пользователем настоящего Соглашения осуществляется путем последовательного совершения действий, указанных в п. 2.3. настоящего Соглашения. Данные пункты означают полное и безоговорочное принятие Пользователем всех условий Соглашения без каких-либо изъятий и/или ограничений.
Пользователь обязан полностью ознакомиться с настоящим Соглашением. Использование любой из услуг, предоставляемых Сайтом, означает полное и безоговорочное принятие Пользователем настоящего Соглашения.
<br>
2.3. Для настоящего Пользовательского соглашения Пользователь совершает последовательно следующие действия: 
<br>2.3.1. Проходит Регистрацию в мобильном приложении. Регистрация пользователя является бесплатной и добровольной;
<br>2.3.2. Осуществляет ознакомление с текстом настоящего Соглашения;
<br>2.3.3. Нажимает кнопку «Я принимаю условия Соглашения».
<br>2.3.4. Вводит в специальное поле проверочный одноразовый пароль, высылаемый Администрацией сервиса или третьим лицом, по поручению Администрации сервиса, на указанный Пользователем номер мобильного телефона  

<br>2.4. Активация уникальной ссылки и/или ввод проверочного кода, высланного на номер мобильного телефона (СМС-код), Пользователем является моментом заключения настоящего Соглашения между Пользователем и Администрацией сервиса, т. е. полного и безоговорочного согласия Сторон с условиями настоящего Соглашения.
<br>
2.5. Для регистрации в мобильном приложении Пользователь совершает следующие действия:
<br>2.5.1. Предоставляет регистрационные данные.
<br>2.5.2. Самостоятельно определяет «логин» и «пароль» для входа в Личный кабинет. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа к мобильному приложению. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.
<br>2.6. Гарантии Пользователя:
<br>2.6.1. Гарантирует, что является дееспособным физическим лицом, достигшим шестнадцатилетнего возраста, либо зарегистрированным и действующим юридическим лицом/индивидуальным предпринимателем.
<br>2.6.2. Соглашается, что несет ответственность за:
- достоверность, актуальность  и полноту  размещаемой и предоставляемой  информации, ее чистоту от претензий третьих лиц;
- правомерность действий по отношению к другим Пользователям, с которыми он заключает сделки.
<br>2.6.3. Гарантирует, что размещенная им информация является точной и достоверной, не содержит оскорблений, клеветы, не является пропагандой порнографии, наркотиков, насилия, не противоречит законодательству РК.
<br>2.6.4. Гарантирует, что имеет законные права на распоряжение Имуществом.
<br>2.6.5. Гарантирует, что сдаваемое в аренду Имущество не представляет угрозы для жизни и здоровья других Пользователей и для окружающей среды.
2.7. Администрация сервиса может блокировать или ограничить доступ к услугам через Мобильное Приложение ALU.KZ и/или к Профилю Пользователя по заявлению Пользователя, включая заявление о компрометации Профиля Пользователя, а также если по мнению Администрации сервиса имеются основания полагать, что использование осуществляется с нарушением действующего законодательства, в том числе в результате отзыва Пользователем согласия на обработку персональных данных, с нарушением Пользовательского соглашения, в случае подозрения на мошенничество или если есть основания полагать, что Профиль Пользователя был или будет скомпрометирован.

<h3 class="center">3. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>

3.1. Администрации сервиса обязуется:
<br>3.1.1. Предоставить Пользователю доступ к Сервису путем использования Личного кабинета.
<br>3.1.2. Обеспечивать бесперебойное функционирование Сервиса, заботиться об информационной защищенности Сервиса.
<br>3.1.3. Информировать Пользователя обо всех событиях прямо или косвенно связанных с ним в  процессе аренды посредством e-mail, sms и уведомлений в мобильном приложении.
<br>3.1.4. Не разглашать персональную информацию о Пользователе, кроме случаев, когда законодательством РК предусмотрена обязанность по предоставлению такого рода информации уполномоченному контролирующему органу.
<br>3.1.5. При выборе Пользователем услуги по организации доставки имущества, оказываемой Администрацией сервиса, осуществлять доставку  в сроки и на условиях, определенных  договором оказания услуг (пункт 6.3.10 Соглашения).

<br>3.2. Пользователь обязуется: 
<br>3.2.1. Предоставить при Регистрации и заполнении дополнительных форм актуальные персональные данные. В случае предоставления недостоверных персональных данных, Администрация сервиса имеет право  приостановить либо ограничить использование Сервиса.
<br>3.2.2. Не разглашать логин  и пароль доступа к Личному кабинету в Сервисе и другую конфиденциальную информацию, предоставленную Администрацией сервиса, третьим лицам. Пользователь обязуется информировать Администрацию сервиса о несанкционированном доступе к Личному кабинету или о несанкционированном использовании пароля и логина Пользователя.
<br>3.2.3. Не использовать Сервис в противоправных целях, нарушающих права третьих лиц, для сбора информации в коммерческих целях, а также не опрашивать каким-либо образом других Пользователей в коммерческих целях.
<br>3.2.4. Перед размещением Материалов в объявлении (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания) предварительно оценивать законность их размещения и нести полную ответственность перед Администрацией сервиса и третьими лицами за такие действия.
<br>3.2.5. Уведомлять в течение 3 (Трех) рабочих дней о смене телефонных номеров, персональных данных и банковских реквизитов (в случае их указания при регистрации). 
<br>3.2.6. Хранить в тайне и не предоставлять другим Пользователям и третьим лицам, ставшие ему известными в результате общения с другими Пользователями и иного использования Сайта персональные данные других Пользователей и третьих лиц без получения соответствующего предварительного разрешения последних.
<br>3.2.7. Сообщать Администрации сервиса о проблемах, поступающем спаме, оскорбительном контенте и нарушениях положений настоящего Соглашения другими Пользователями, несанкционированном доступе к сервисам с использованием учетной записи Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своего пароля со стороны третьих лиц;
<br>
<br>3.3. Обязанности Владельца:
<br>3.3.1. Владелец, размещающий предложение о сдаче в аренду Имущества, обязуется предоставить точную и полную информацию об Имуществе и условиях его аренды. Размещая объявление, Владелец подтверждает, что он имеет право сдавать в аренду Имущество, данное Имущество не является предметом залога или обеспечения по иным сделкам и гарантирует, что не нарушает действующего законодательства РК и права третьих лиц.
<br>3.3.2. Передавать вещь лично Администрации сервиса ALU.KZ
<br>3.3.3. Уведомлять в течение 3 (Трех) рабочих дней об отсутствии имущества и отправлять запрос в Администрацию сервиса об удалении имущества с Мобильного приложения ALU.KZ
<br>
<br>3.4. Арендатор обязуется:
<br>3.4.1. Проверить внешний вид Имущества и работоспособность при получении Имущества в аренду, а в случае его неисправности или несоответствия  описанию в Сервисе,  сообщить об указанном факте в  Администрацию сервиса .
<br>3.4.2. Вернуть указанный товар обратно согласно сроку оплаты
<br>3.4.3. В случае полной утраты, утери, невозврата товара, обязуется внести полную сумму товара. 
<br>3.4.4. В случае отказа восстанавливать (отремонтировать) испорченный (поломанный) товар, обязуется возместить убытки и ущерб (в том числе арендную плату за весь период ремонта товара), причиненный Владельцу имущества
<br>3.4.5. В случае нарушения сроков возврата товара по истечении срока аренды, срок аренды считается продленным по Вашей инициативе и уплачивается Администрации сервиса согласно установленным ценами и условиями в мобильном приложении.
<br>
<br>3.5. Администрации сервиса вправе:
<br>3.5.1. Требовать от Пользователя  выполнения условий настоящего Соглашения.
<br>3.5.2. Предотвращать публикацию любых Материалов и объявлений, нарушающих настоящее Соглашение, а также принимать меры по наложению на Пользователя ответственности, предусмотренной в данном Соглашении и находящейся в компетенции Администратора.
<br>3.5.3. Изменять (модерировать) или удалять любой контент, нарушающий настоящее Соглашение, а также приостанавливать, ограничивать или прекращать доступ Пользователя ко всем или к любому из разделов или сервисов с предварительным уведомлением или без такового.
<br>3.5.4. Переместить, завершить или продлить срок демонстрации товара Пользователя по техническим причинам, находящимся под контролем или вне контроля Администрации сервиса. Администрации сервиса имеет право прекратить демонстрацию объявления, если Пользователь зарегистрировал товар, с нарушением условий настоящего Соглашения или действующего правоприменительного законодательства.
<br>3.5.5. Удалять объявления по требованию правообладателя или компетентных государственных органов. Администрация сервиса также оставляет за собой право удалять любые объявления, которые по ее мнению не соответствуют принципам и устоям общественной морали. Решение об удалении является окончательным и обжалованию не подлежит.
<br>3.5.6. Отказать в публикации объявлений, если они не соответствуют тематике выбранных разделов, либо нарушают настоящее Соглашение, а также ограничивать количество объявлений от одного Пользователя в целях удобства пользования Мобильного приложения ALU.KZ без объяснения причин.
<br>3.5.7. Вносить в текст объявления Пользователя правки, касающиеся орфографии и пунктуации, не влияющие на общий смысл содержания объявления;
<br>3.5.8. Переносить объявления в другие категории Мобильного приложения ALU.KZ для их размещения;
<br>3.5.9. Устанавливать ограниченный доступ к контактной информации других пользователей. Право использования сведений, предоставленных другими Пользователями, ограничивается настоящим Соглашением.
<br>3.5.10. Устанавливать виды и стоимость дополнительных услуг. А также оставляет за собой право добавлять свой процент к предложенной цене Пользователя за размещения товаров на своей платформе. Решение является окончательным и обжалованию не подлежит.
<br>3.5.11. Использовать (обрабатывать и т. п.) персональные данные Пользователей, указанные Пользователем при регистрации, на основании условий настоящего Соглашения.
<br>3.5.12. Распоряжаться статистической информацией, связанной с функционированием мобильного приложения, а также информацией Пользователей для обеспечения адресного показа рекламной информации различным аудиториям Пользователей.
<br>3.5.13. Отправлять Пользователям по электронной почте сообщения, касающиеся использования Сайта, информацию о развитии Сайта и его сервисов, а также рекламировать собственную деятельность и услуги, а также отправлять и иные сообщения. При этом Администратор сервиса никогда не будет запрашивать в таких письмах подтверждение сведений, содержащих личную информацию или связанных с доступом к Личному кабинету Пользователя, например, пароль.
<br>3.5.14. В любое время изменять оформление Сайта, его содержание, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые серверные приложения в любое время без предварительного уведомления.
<br>3.5.15. Устанавливать дополнительные ограничения на использование Сайта, а также изменять такие ограничения в любое время и без предварительного уведомления Пользователя. 
<br>3.5.16. Производить автоматическое списание средств в счет платы за каждый просроченный день возврата имущества (с последующим перечислением арендодателю с удержанием  причитающейся комиссии), в размере стоимости одного дня аренды за каждый день просрочки возврата имущества в случае если арендатор не произведет  возврат имущества в срок, установленный договором аренды между Владельцем и арендатором.
<br>
<br>3.6. Права Пользователя:
<br>3.6.1. Требовать от Администрации сервиса выполнения условий настоящего Соглашения.
разместить Материалы, содержащие информацию об Имуществе, в объявлении в мобильном приложении.
<br>3.6.2. Использовать настоящий Сервис не запрещенными настоящим Соглашением и действующим законодательством РК способами, для аренды Имущества, а также для возможности размещения информации о сдаче Имущества в аренду.
<br>3.6.3. Пользователь имеет право обращаться к Администрации сервиса с целью разрешения спорных вопросов или за помощью в использовании мобильного приложения.

<h3 class="center">4. ЗАКЛЮЧЕНИЕ СДЕЛКИ АРЕНДЫ.</h3>

<br>4.1. Заключение сделки аренды с использованием Сервиса «ALU.KZ» осуществляется в следующем порядке:
<br>4.1.1. При принятии решения о заключении сделки аренды через Мобильное приложение ALU.KZ , Арендатор оформляет заказ на аренду предлагаемого Имущества с указанием необходимого срока аренды.
<br>4.1.2. После поступления запроса на аренду Имущества, Сервис отправляет  Владельцу запрос на аренду с определенным сроком, стороны согласовывают даты доставки, ведут переписку  с использованием технических средств мобильного приложения.
<br>4.1.3. После подтверждения Владельцем возможности аренды определенной вещи,  арендатор приступает к оплате в соответствии с пунктом 6.3. настоящего пользовательского соглашения. Сумма оплаты за аренду удерживается платежной системой до момента отметки о приеме/передачи Имущества
<br>4.1.4. После ознакомления с условиями аренды, Арендатор подписывают ознакомительный лист с обязанностями Арендатора (в соответсвии с пунктами 3.4.2 - 3.4.5.) посредством использования простой подписи и предоставления удостоверения личности.
<br>4.1.5. С момента оплаты, срок аренды размещается Администрацией сервиса в Личном кабинете Арендатора и Владельца.
<br>4.1.6. Факт передачи имущества стороны подтверждают подписанием актов приема-передачи в порядке, установленном настоящим разделом, и в том числе: в случае не подписания сторонами актов приема-передачи в порядке, установленном настоящим разделом, до 15 часов 00 минут дня, следующего за днем, установленным договором аренды для передачи и возврата имущества, и отсутствия с их стороны письменных претензий в адрес друг друга и Сайта, Имущество считается переданным в сроки, установленные условиями договора.

<h3 class="center">5. ПОРЯДОК ОПЛАТЫ</h3>

5.1. Использование мобильного приложения предоставляется на бесплатной основе (размещение объявлений, переписка, иные услуги). Сервис удерживает комиссию в размере от суммы арендной платы.
<br>5.2. За оказание дополнительных услуг («курьерская служба») Администрация сервиса имеет право взимать плату .
<br>5.3.В случае, если по результатам проверки арендатора Администрацией сервиса  будет установлено, что он имеет задолженности по возбужденным исполнительным производствам и др. неблагоприятные факты, свидетельствующие о неудовлетворительной платежеспособности или благонадежности арендатора, Администрация сервиса имеет право установить арендатору дополнительный обеспечительный платеж.Сумма Обеспечительного платежа может быть удержана в  размере всей суммы Обеспечительного платежа в случае невозврата вещи в срок, установленный договором, более 7 дней в виде единовременного штрафа. В данном случае удержание обеспечительного платежа в полном объеме  является мерой гражданско-правовой ответственности (штраф) и не освобождает арендатора от обязанности возвратить Имущество.
<br>5.4. Денежные средства за аренду перечисляются Администрацией сервиса Владельцу на указанные ими банковские реквизиты в режиме онлайн сразу же после получения имущества.
<br>5.5. В случае если арендатор не продлит сроки аренды путем оформления заказа и не произведет  возврат Имущества в срок, установленный договором аренды, Администрация сервиса производит автоматическое продление за каждый просроченный день возврата имущества (с последующим перечислением арендодателю с удержанием  причитающейся комиссии), в размере стоимости одного дня аренды за каждый день просрочки возврата имущества .

<h3 class="center">6. УСЛОВИЯ РАЗМЕЩЕНИЯ МАТЕРИАЛОВ В ОБЪЯВЛЕНИИ</h3>

<br>6.1. Размещаемые в объявлении Материалы должны соответствовать следующим условиям:
<br>6.1.1. Материалы, размещаемые Пользователем, не должны оскорблять нравственность, честь и достоинство, права и охраняемые законом интересы третьих лиц, пропагандировать ненависть и/или дискриминацию людей по расовому, этническому, половому или социальному признакам, способствовать разжиганию религиозной, расовой или межнациональной розни, содержать сцены насилия либо жестокого обращения с животными и т.д.;
<br>6.1.2. Пользователь обязуется не оказывать активную поддержку и не распространять информацию об услугах, предоставляемых конкурентами, как-то, но не исключительно:
<br>•	Информацию о других досках объявлений, торговых площадках, интернет-аукционах и/или интернет-магазинах;
<br>•	Интернет-ресурсах, предлагающих товары и услуги, запрещенные к продаже в Мобильном приложении.
<br>6.2. Пользователю запрещено:
<br>•	Дублировать одинаковые объявления с разных телефонных номеров;
<br>•	Подавать объявления, описание и/или заголовок/фотографии которых являются несвязанными, нечитаемыми;
<br>•	Вставлять в объявлении ссылки на ресурсы, которые содержат вредоносные элементы либо ссылки на главную страницу сайта;
<br>•	Подавать объявление о товаре или услуге, если такое размещение может привести к нарушению правоприменительного законодательства;
<br>•	Запрещается подавать объявления, рекламирующие продажу:
<br>•	сигарет и табачной продукции;
<br>•	наркотиков;
<br>•	порнографических материалов или предметов;
<br><br>•	фармакологических продуктов, медикаментов, наркотических веществ и прекурсоров;
<br>•	украденных, полученных не законным способом товаров;
<br>•	предметов, представляющих опасность для жизни и здоровья;
<br>•	несуществующих товаров;
<br>•	человеческих органов и органов животных;
<br>•	специальных технических средств негласного получения информации;
<br>•	государственных наград; персональных документов, а также бланков этих документов;
<br>•	баз данных;
<br>•	огнестрельного, холодного, травматического оружия, а также боеприпасов и комплектующих к ним;
<br>•	специальных средств активной обороны, применяемых правоохранительными органами; клыков моржа, бивней слона и мамонта не в изделии, а также драгоценных металлов и драгоценных камней не в изделии;
<br>•	редких и запрещенных к продаже животных, любых других запрещённых соответствующим законодательством товаров и услуг.
<br>6.3. Пользователь обязан тщательно проверить всю информацию о товарах, размещенных им в Мобильном приложении, и, в случае обнаружения неверной информации, добавить необходимые сведения в описание товара - написав в техническую поддержку. Если это невозможно, исправить неверную информацию, аннулировав объявление и повторно разместив информацию о товаре.
<br>6.4. Цена товара указывается Пользователем в национальной валюте Республики Казахстан (тенге). 
<br>6.5. Фото, демонстрирующее товар/услугу, предлагаемые Пользователем к продаже, должно соответствовать заголовку и тексту объявления. На фото должен быть изображен только предлагаемый объект. Стоковые фото и/или фото, загруженные из сети Интернет, запрещены.
<br>6.6.Предметом объявлений могут быть товары, реализация которых не запрещена и не ограничена в соответствии с законодательством страны, в которых они реализуются, а также не противоречит данному соглашению.

<h3 class="center">7. УСЛОВИЯ ОБ ИНТЕЛЛЕКТУАЛЬНЫХ ПРАВАХ</h3>

7.1. Все объекты, размещенные на Сайте, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, скрипты, программы, музыка, звуки и другие объекты и их подборки (далее - Контент), являются объектами исключительных прав Администрации Сервиса. 
Материалам из любого места и в любое время по собственному выбору.
<br>7.2. Администрация сервиса вправе размещать на страницах Сайта, содержащих Материалы Пользователя, а также воспроизводить посредством Сервиса совместно с Материалами рекламные материалы, видеоролики, баннеры и объявления, в том числе третьих лиц, модифицировать и перерабатывать Материалы, а также использовать присланные Материалы в иных коммерческих целях.

<h3 class="center">8. ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h3>

8.1. Пользователь при Регистрации предоставляет Администрации сервиса свое согласие на автоматизированную, а также без использования средств автоматизации обработку персональных данных Пользователя. 
<br>8.2. Администрация сервиса обрабатывает персональные данные Пользователя в целях исполнения Пользователями договоров аренды, предоставления Пользователю услуг, в том числе, в целях получения Пользователем персонализированной (таргетированной) рекламы; проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать сервисы и разделы мобильного приложения, а также разрабатывать новые сервисы и разделы мобильного приложения.
<br>8.3. Администрация сервиса принимает все необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения, обеспечивает конфиденциальность и сохранность персональных данных Пользователя..
<br>8.4. Администрация сервиса вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Республики Казахстан (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством РК по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством РФ случаях.
<br>8.5. В случае если для наиболее эффективного исполнения настоящего Пользовательского соглашения Администрация сервиса сочтет целесообразным поручить полностью или частично обработку персональных данных Пользователя третьему лицу, Администрация сервиса запросит согласие Пользователя на передачу данных такому лицу до ее осуществления. Пользователь во всякое время имеет право бесплатно получить информацию о своих персональных данных, которые обрабатываются сервисом. Если, по мнению Пользователя, некоторые данные неверны или вводят в заблуждение, то он должен немедленно связаться с Администрацией сервиса и сообщить актуальные данные. 
<br>8.6. Администрация сервиса вправе обрабатывать Персональные данные Заемщика любыми способами, как это необходимо, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
<br>8.7. В процессе обработки Администрация сервиса имеет право передавать персональные данные третьим лицам, если это необходимо для достижения целей обработки и при условии соблюдения такими третьими лицами конфиденциальности и безопасности Персональных данных.
<br>8.8. Администрация сервиса не собирает данные о расовом или этническом происхождении, политических, религиозных или мировоззренческих убеждениях, членстве в политических партиях и профессиональных союзах, а также данных, касающихся здоровья или половой жизни Пользователей, и не несет ответственность за разглашение Пользователями такой информации на сайте.
<br>8.9. Опросы, проводимые время от времени Администрацией сервиса могут содержать вопросы о демографических данных Пользователей (например, образование, возраст, доход). Данные, собираемые Администрацией сервиса с помощью таких опросов, обрабатываются в обезличенном виде. Пользователи имеют возможность не принимать участие в опросах и отказаться от предоставления информации. Администрация сервиса использует демографические данные, в целях составления статистических отчетов и улучшения качества услуг.

<h3 class="center">10. ОТВЕТСТВЕННОСТЬ СТОРОН</h3>

10.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по Соглашению Стороны несут ответственность в соответствии с законодательством РК с учетом условий настоящего Соглашения.
<br>10.2. Администрация сервиса не несет ответственности за какие-либо косвенные/непрямые убытки или упущенную выгоду Пользователя и/или третьих лиц в результате использования Сервиса.
<br>10.3. Администрация сервиса не отвечает за ущерб или гибель Имущества, принадлежащего Владельцу, а также за причинение вреда третьим лицам, в связи с использованием Имущества. 
Ответственность за ущерб или гибель Имущества может быть наложена на Администрацию сервиса только в случае оказания дополнительных услуг, связанных с перемещением Имущества (услуга по доставке Имущества). При причинении ущерба Владельцу при доставке Имущества, для возмещения такого ущерба Владелец обязан предоставить оригиналы документов, подтверждающих стоимость такого Имущества и право собственности Владельца на него или иное вещное право.
<br>10.4. Администрация сервиса не отвечает за неисправности, ошибки и сбои в работе программно-аппаратного комплекса, обеспечивающего функционирование Сервиса, возникшие по причинам, не зависящим от Администрации сервиса.
<br>10.5. Администрация сервиса не отвечает за убытки Пользователя, возникшие в результате:
<br>10.5.1. предоставления Пользователем заведомо ложных сведений о себе (ФИО, банковские реквизиты, номер телефона);
<br>10.5.2. нарушения Пользователем условий настоящего Соглашения и правил пользования Сервисом, размещенных на Сайте;
<br>10.5.3. неправомерных действий третьих лиц, в том числе связанных с использованием логина и пароля Пользователя.
<br>10.6. Администрация сервиса не несет ответственности за содержание Материалов и за соответствие их требованиям действующих нормативно-правовых актов, за нарушение авторских прав, несанкционированное использование товарных знаков, коммерческих обозначений и т.д., а также за возможные нарушения прав третьих лиц в связи с размещением Материалов на Сервисе и/или их использованием в соответствии с условиями настоящего Соглашения. 
<br>10.7. Стороны не несут ответственности за неисполнение или ненадлежащее исполнение обязательств, принятых на себя по настоящему Соглашению, если надлежащее исполнение оказалось невозможным вследствие наступления обстоятельств непреодолимой силы, таких как: военные действия, эпидемии, пожары, природные катастрофы, нормативно-правовые акты и действия государственных и иных уполномоченных органов (организаций), делающие невозможными исполнение обязательств по настоящему Соглашению в соответствии с законным порядком. Указанные обстоятельства должны быть подтверждены уполномоченным государственным органом. Сторона по настоящему Соглашению, затронутая обстоятельствами непреодолимой силы, должна в течение 7 (семи) календарных дней известить другую Сторону о наступлении обстоятельств непреодолимой силы.
<br>10.8. Администрация сервиса в рамках настоящего Соглашения оставляет за собой право:
<br>10.8.1. Производить модификацию Сервиса;
<br>10.8.2. Приостанавливать работу программных и/или аппаратных средств, обеспечивающих функционирование Сервиса, при обнаружении существенных неисправностей, ошибок и сбоев, а также в целях проведения профилактических работ и предотвращения случаев несанкционированного доступа к Сервису;
<br>10.9. Администрация сервиса старается обеспечивать бесперебойную работу Сервиса, однако не несет ответственности за полную или частичную утрату Материалов, размещаемых Пользователем, а также за недостаточное качество или скорость предоставления услуг по размещению, воспроизведению и демонстрации Материалов.
<br>10.10. Администрация сервиса оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, сообщенных ALU.KZ при регистрации и/или размещенных в мобильном приложении (в том числе, в Личном кабинете), и запросить в связи с этим подтверждающие документы (в частности - документы, удостоверяющие личность Пользователя). В случае, когда данные, указанные при регистрации, не позволяют идентифицировать Пользователя, Администрация сервиса вправе отказать Пользователю в доступе к учетной записи/Личному кабинету, и соответственно в доступе к Сервисам ALU.KZ. Непредставление запрашиваемых документов может (по усмотрению Администрации сервиса) повлечь за собой отказ Пользователю в доступе к учетной записи/Личного кабинета Пользователя или приостановление оказания Пользователю всех или части Сервисов.
<br>10.12. Администрация сервиса вправе по своему усмотрению компенсировать Пользователю утрату или уничтожение имущества в денежной форме на сумму не более 15.000 тенге в рамках одного договора с учетом обеспечительного платежа, при условии что заключение договора и оплата осуществлялись на Сервисе. 
Выплата компенсации производится сервисом путем заключения договора уступки права требования (цессии), по которому арендодатель уступает свои права по договору аренды и продает право на Имущество Администрации сервиса, а Администрация сервиса, в свою очередь, за уступаемое право выплачивает арендодателю соответствующую денежную сумму. 
В случае, если изначально суммы компенсации недостаточно для покрытия убытков арендодателя, договор цессии оформляется на усмотрение арендодателя и Администрации сервиса. 

<h3 class="center">11. ИЗМЕНЕНИЕ И РАСТОРЖЕНИЕ СОГЛАШЕНИЯ</h3>

11.1. Внесение изменений (дополнений) в настоящее Соглашение производятся Администрацией сервиса в одностороннем порядке путем размещения на Сайте.
<br>11.2. Любые изменения в Мобильное Приложение ALU.KZ будут объявлены Администрацией сервиса не позднее чем за три дня до предполагаемой даты начала их применения. Пользователь будет считаться принявшим эти изменения, если он / она не уведоми Администрацию сервиса, что он / она не принимает их до предполагаемой даты их вступления в силу. Пользователь имеет право немедленно и безвозмездно расторгнуть Пользовательское соглашение до даты предлагаемого применения изменений. 
<br>11.3. Несмотря на вышесказанное, в связи с принятием законодательного акта, постановления или решения органа власти могут потребоваться изменения, которые могут затрагивать существенные части Мобильного Приложения ALU.KZ. Такие изменения вступят в силу в момент их объявления Администрация сервиса без необходимости соблюдения указанного трехдневного периода до предполагаемой даты начала их применения.
<br>11.4. Если Пользователь использует Услуги Мобильного Приложения ALU.KZ после вступления объявленных изменений условий использования в силу, Пользователь будет считаться принявшим такие изменения условий использования Мобильного Приложения ALU.KZ.
<br>11.5. Настоящее Соглашение является бессрочным и может быть расторгнуто по инициативе Пользователя или Администрации сервиса в любое время путем уведомления, но не в период действия договора аренды.
 
<h3 class="center">12. ПРОЧИЕ ПОЛОЖЕНИЯ</h3>

12.1. Все споры и разногласия, возникшие в связи с исполнением настоящего Соглашения разрешаются путем переговоров между сторонами Соглашения. В случае, если стороны не придут к соглашению, то спор  подлежит рассмотрению судом по месту нахождения Администрации сервиса.
<br>12.2. Стороны признают юридическую силу документов, переданных по электронной почте и иным видам факсимильной связи, в том числе договоров аренды, актов приема-передачи, актов оказанных услуг, и иных документов, а также переписки, если имеется достоверная возможность определить, что документ исходил от стороны настоящего Соглашения.
<br>12.3. ALU.KZ является зарегистрированным товарным знаком Администрации сервиса. Использование его, а также прочих логотипов, брендов и продуктов, описанных в мобильном приложении

    </div>
</body>
</html>